# Example Environment Variables

# Backend Port
PORT=5000

# MongoDB Connection String (Replace with your actual DB URI)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/linktree_clone?retryWrites=true&w=majority

# Production Domain / CORS
FRONTEND_URL=https://your-render-app-url.onrender.com
